LOGFILE=$DEST/logs/stack.sh.log

#SERVICE_HOST={{hostvars[inventory_hostname]['internal_service_ip']}}
ADMIN_PASSWORD=secretrabbit
DATABASE_PASSWORD=$ADMIN_PASSWORD
RABBIT_PASSWORD=$ADMIN_PASSWORD
SERVICE_PASSWORD=$ADMIN_PASSWORD
#NEUTRON_REPO=https://review.openstack.org/p/openstack/neutron
#NEUTRON_BRANCH=stable/ocata
#FIXED_RANGE=172.31.1.0/24
#FLOATING_RANGE=192.168.20.0/25

# disable nove networking
disable_service n-net
# enable neutron
enable_service q-svc q-agt q-dhcp q-l3 q-meta

# enable_plugin rally https://github.com/openstack/rally master
