{
    "type": "ExistingCloud",
    "auth_url": "{{horizon_address}}:5000/v2.0/",
    "region_name": "RegionOne",
    "endpoint_type": "public",
    "admin": {
       "username": "{{username}}",
       "password": "{{password}}",
       "tenant_name": "{{tenant}}"
    },
    "https_insecure": false,
    "https_cacert": ""
}
